<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bestit.kms" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>KMS</name>
    <description>
        KMS
    </description>
    <author email="help@bestitmarketing.hu" href="http://best-it.hu">
        Best-IT Marketing Kft.
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
        <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation" value="landscape" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.battery-status" source="npm" />
    <gap:plugin name="org.apache.cordova.camera" source="npm" />
    <gap:plugin name="org.apache.cordova.media-capture" source="npm" />
    <gap:plugin name="org.apache.cordova.console" source="npm" />
    <gap:plugin name="org.apache.cordova.contacts" source="npm" />
    <gap:plugin name="org.apache.cordova.device" source="npm" />
    <gap:plugin name="org.apache.cordova.device-motion" source="npm" />
    <gap:plugin name="org.apache.cordova.device-orientation" source="npm" />
    <gap:plugin name="org.apache.cordova.dialogs" source="npm" />
    <gap:plugin name="org.apache.cordova.file" source="npm" />
    <gap:plugin name="org.apache.cordova.file-transfer" source="npm" />
    <gap:plugin name="org.apache.cordova.geolocation" source="npm" />
    <gap:plugin name="org.apache.cordova.globalization" source="npm" />
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />
    <gap:plugin name="org.apache.cordova.media" source="npm" />
    <gap:plugin name="org.apache.cordova.network-information" source="npm" />
    <gap:plugin name="org.apache.cordova.splashscreen" source="npm" />
    <gap:plugin name="org.apache.cordova.vibration" source="npm" />
	<gap:plugin name="com.boyvanderlaak.cordova.plugin.orientationchanger" source="npm" />
	<gap:plugin name="com.millerjames01.sqlite-plugin" version="1.0.1" source="npm" />
	<gap:plugin name="net.tunts.webintent" version="0.2.1" source="npm" />
    <icon src="icon.png" />
    <gap:splash src="res/betolto_kep.png" />
    <access origin="*" />
</widget>

